<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701933231424-nkuk5e3qhn0c7psmn4hd7um8d4a63kk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701933231424-nkuk5e3qhn0c7psmn4hd7um8d4a63kk9</string>
	<key>API_KEY</key>
	<string>AIzaSyDCBdhz9FcwbDXJzezPITbttxVU51BB8pI</string>
	<key>GCM_SENDER_ID</key>
	<string>701933231424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lassen.main</string>
	<key>PROJECT_ID</key>
	<string>a8t3-270105</string>
	<key>STORAGE_BUCKET</key>
	<string>a8t3-270105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:701933231424:ios:3cef8ac474f594d0b42ea5</string>
	<key>DATABASE_URL</key>
	<string>https://a8t3-270105-default-rtdb.firebaseio.com</string>
</dict>
</plist>
